:root {
    --clr-primary: #00ff00;
    --clr-white: #ffffff;
    --clr-bgblu: #414752;;
    --clr-clearblk: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    letter-spacing: .05rem;
    /* border: solid 1px black; */
}

body {
    background-color: var(--clr-bgblu);
}

.hero {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-bgblu);
    background-image: url('images/hero-image.jpg');
    background-size: cover ;
    background-position: center;
    
    height: 50vh;
    width: 100%;
}

.title-container {
    background-color: var(--clr-clearblk);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.title {
    width: 99%;
    text-align: center;

    font-family: monospace;
    font-size: 5rem;
    color: var(--clr-primary);
    letter-spacing: .3rem;

    border-right: solid .4rem var(--clr-primary);
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(17),
        cursor .5s step-end infinite alternate;
}

/*cursor blinking*/
@keyframes cursor {
    50% { border-color: transparent; }
}

/* typing animation */
@keyframes typing {
    from { width: 0 }
}

nav {
    transition: 1s;
    /* margin: 1%; */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 2%;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav a {
    padding: 0 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.icon:hover {
    transition: 1s;
    border-radius: 50% !important;
    animation: 
        rotation 1s forwards,
        pulse 1s 1s ease-in-out infinite;
}

.main {
    background-color: var(--clr-bgblu);
    height: auto;
    width: 100%;
}

.icon {
    height: 4.5rem;
    padding: 10%;
    display: flex;
    align-items: center;
}

#openbutton {
    background-color: var(--clr-clearblk);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 25%;
}

footer {
    background-color: var(--clr-primary);
    width: 100%;
    height: 20vh;

    position: sticky;
    bottom: 0;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--clr-white);
    width: 90%;
    height: 90%;
    background-color: var(--clr-clearblk);
}

.hidden-container {
    padding: 5%;
    overflow: hidden;
}

.hidden {
    color: var(--clr-primary);
    text-align: center;
    display: grid;
    place-items: center;
    align-content: center;

    min-height: 30vh;
}

.hidden {
    opacity: 0;
    transition: all .5s ease-in-out;
    filter: blur(10px);
    transform: translateX(5%);
}

.even {
    transform: translateX(-5%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.arrows {
    background-color: var(--clr-clearblk);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 3%;
}

#left-arrow {
    margin-right: 5rem;
    animation: leftmotion 1s ease-in-out infinite;
}

#right-arrow {
    margin-left: 5rem;
    animation: rightmotion 1s ease-in-out infinite;
}

@keyframes leftmotion {
    0% {transform: translateX(0%);}
    50% {transform: translateX(-15%);}
    100% {transform: translateX(0%);}
}

@keyframes rightmotion {
    0% {transform: translateX(0%);}
    50% {transform: translateX(15%);}
    100% {transform: translateX(0%);}
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to   { transform: rotate(359deg); }
}

@keyframes grow {
    0% { transform: scale(1); }
   100%  { transform: scale(1.2); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes expand {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}


/* *********POP UP EDITING********* */
.popup {

    height: 70%;
    max-height: 500px;
    width: 80%;
    max-width: 600px;
    z-index: 999;

    background-color: var(--clr-clearblk);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 2rem;

    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.01);

    /*///////////////////////////*/
    display: block;
    align-items: center;
    justify-content: center;
    padding: 3%;
    /*///////////////////////////*/

    overflow: hidden;
    visibility: hidden;
    transition: transform .5s, top .3s;
}

.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.inner-popout-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-inner-container {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;

    /* border: 1px solid red; */
}

.top-inner-left {
    /* flex-grow: 1; */
    width: 50%;
    height: 100%;
    /* padding: 5%; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.top-inner-left ul {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;

    /* text-align: center; */
    list-style-type: none;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-inner-left li {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.top-inner-left a {
    
    text-decoration: none;
    color: var(--clr-primary);
    font-size: 2.5rem;
}

.top-inner-left a:hover {
    transition: 1s;    
    animation: pulse 1s ease-in-out infinite;
}

/* ////////// POPUP RIGHT DIVS///////// */
.top-inner-right {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    /* border: 1px solid red; */
}

.right-inner-top {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    /* border: 1px solid white; */
}

.right-inner-bottom {
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ///////////////////////////////////// */

.close-button-container {
    /* border: 1px solid violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

#closeButton {
    border: 3px solid var(--clr-primary);
    border-radius: 50%;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

#closeButton:hover {
    transition: 1s;
    border-radius: 50% !important;
    animation: 
        rotation 1s forwards,
        pulse 1s 1s ease-in-out infinite;
}
/* *********POP UP EDITING********* */


/* Time App */
.clock {
    background-color: rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock ul li {
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
}

.clock ul li span {
    transform: rotate(calc(-30deg * var(--i)));
    /* display: inline-block; */
}

.clock:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.needle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.needle span {
    width: 5px;
    height: var(--h);
    background-color: var(--clr);
    position: absolute;
    border-radius: 5px;
}

.container {
    width: 100%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    border-radius: 3rem;
    font-size: 7px;
}

.timeelements {
    padding: 2%;
}


/* Weather App */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    width: 70%;
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    padding: 4px 0px;
    text-align: center;
}


.weather-icon {
   width: 50px; 
}

.weather h1 {
    font-size: 20px;
}

.weather h2 {
    font-size: 10px;
}

.details {
    /* border: 1px solid white; */
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0px;
    padding: 2%;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 15px;
    margin-right: 4px;
}

.humidity, .wind {
    font-size: 10px;
    height: -6px;
}

.weather {
    display: none;
}

#hum, #win {
    font-size: 7px;
}

.error {
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: white;
}



/* For Mobile Device Scaling */
@media(max-width: 600px) {
    .title { font-size: 2.3rem; }
    .icon { height: 3.2rem; }
    .top-inner-left a { font-size: 1.7rem; }
    #openbutton { height: 4rem;}
    #closeButton { height: 3rem; }
    .card { width: 120px; }
    .details { display: none; }
}